* {
	margin:0;
	padding: 0;
	box-sizing:border-box;
	font-family:"Poppins",sans-serif;
}

body{

    background-color: #0805056b;

}


.fas{
    float: right;
    margin-left: 2px;
    padding-top: 3px;
}

.dropdown_menu{
    display:none;
}

.dropdown_menu ul li:hover.dropdown_menu{
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
}

.dropdown_menu ul{
    display: block;
    margin: 10px;
}

.dropdown_menu ul li{
    width: 150px;
    padding:10px;

}



/* Slide container */
.slide-container {
    margin-top: 0.1%;
    position: relative;
    width: 1000px;
    height: 450px;
    border: 3px solid #fff;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
    border-radius: 15px;

  }

  .slide-container .slides{
    width: 100%;
    height: calc(100% - 40px);
    position: relative;
    overflow: hidden;
 }

 .slide-container .slides img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;

 }

 .slide-container .slides img:not(.active){
    top: 0;
    left: -100%;
 }

 span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    padding: 14px;
    color: #eee;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    border-radius:3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
 }

 span.next{
    right: 20px;
 }

 span.prev{
    left: 20px;
 }

 span.next:hover, span.prev:hover{
    background-color: #ededed;
    opacity: 0.8;
    color: #222;
 }

 .dotsContainer{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
 }

.dotsContainer .dot{
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
 }

 .dotsContainer .active{
    background-color: black;

 }


 @keyframes next1{
    from{
        left: 0%;
    }
    to{
        left:-100%;
    }

 }

 @keyframes next2{
    from{
        left: 100%;
    }
    to{
        left: 0%;
    }

 }

 @keyframes prev1{
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }

 }

 @keyframes prev2{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }

 }



  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }



@media screen and (max-width:770px){
    .about{
        padding: 0px 20px;
    }
    .about .container{
        padding: 0px 20px;
    }
    .content{
        padding: 0px;
        flex-direction: column;
    }
    .content .floating-image{
        flex-basis: 100%;
    }
    .content .floating-image.right{
        width: 100%;
    }
    .content .article h2{
        padding: 0px;
        font-size: 16px;
    }
    .content .article p{
        padding: 0px;
        font-stretch: 10px;
    }
    .profile{
        padding: 0px 20px;
    }
    .profile h4{
        padding: 0px;
        font-size: 16px;
    }
    .profile .img{
        flex-basis: 100%;
    }
    .profile .b{
        padding: 0px;

    }
}

.main{
    padding-top: 80px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;

}

/*------------------------------------------------*/

.profile{
    display: flex;
	max-width:800%;
	margin : 60px auto 20px;
}

.profile h4{
    font-size: 20px;
    color: #4e4e4c;
    font-weight: bold;
}

.profile .img{
    margin-top: 30px;
    padding-left: 100px;
}

.profile .b{
   padding-left: 180px;
   margin-top: 70px;
}

.profile .b h3{
    font-size: 30px;
    font-weight: 700;
    color: #4e4e4c;
}

.profile .b p{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.content .article h2{
    text-align: center;
    color: #4e4e4c;
    font-size: 24px;
    margin: 15px 100px;
}

.content .article p{
    margin-top: 25px;
    color: hsl(0, 2%, 8%);
    font-size: 17px;
    font-family: sans-serif;
    line-height: 1.5;
}

/*-----------------------------------------------------*/

@media screen and (max-width:770px){
    .about{
        padding: 0px 20px;
    }
    .about .container{
        padding: 0px 20px;
    }
    .content{
        padding: 0px;
        flex-direction: column;
    }
    .content .floating-image{
        flex-basis: 100%;
    }
    .content .floating-image.right{
        width: 100%;
    }
    .content .article h2{
        padding: 0px;
        font-size: 16px;
    }
    .content .article p{
        padding: 0px;
        font-stretch: 10px;
    }
    .profile{
        padding: 0px 20px;
    }
    .profile h4{
        padding: 0px;
        font-size: 16px;
    }
    .profile .img{
        flex-basis: 100%;
    }
    .profile .b{
        padding: 0px;

    }
}

