body{
 background-color: #0805056b;
}

.tit{
padding-top: 100px;
padding-left: 550px;
}

.div2{
    padding: 0px 20px 20px 20px;
}

.tit1{
    padding-left: 550px;
    }

.h11{
    padding-left: 30px;
    }

.but1{
    padding-left: 400px;
    }
