*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background:#23242a;
    background-size:cover;
}
.login{
   display: flex;
   justify-content: center;
   align-items:center;
   min-height: 100vh;
   background-color:#23242a;
}

.box{
    position: relative;
    margin-top: 75px;
    width: 450px;
    height:700px;
    background:#1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 620px;
    background: linear-gradient(0deg, transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation:animate 6s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 620px;
    background: linear-gradient(0deg, transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation:animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.box form{
    position: absolute;
    inset: 4px;
    background:#222;
    padding: 50px 40px;
    border-radius:8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h1{
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background:transparent;
    outline: none;
    border:none;
    box-shadow:none;
    color: #23242a;
    font-size: 1em;
    letter-spacing:0.05em;
    transition:0.5s;
    z-index:8;
}

.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing:0.05em;
    transition:0.5s;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span
{
    color: #45f3ff;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #45f3ff;
    border-radius:4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i
{
    height: 44px;
}

.box form .links{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.box form links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

.box form .links a:hover,
.box form .links a:nth-child(2)
{
    color: #45f3ff;
}

.box form input[type="submit"]
{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #45f3ff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius:4px;
    font-weight: 600;
    width: 100px;
    margin-top: 35px;

}

.box form input[type="submit"]:active
{
    opacity: 0.8;
}

.footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }


  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }

  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animate2 4s linear infinite;
  }


  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewaves 4s linear infinite !important;
  }

  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }

  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate2 3s linear infinite;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }

  @keyframes animate2 {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }

  #userid {
    width: 100%;
    padding: 15px;
    display: inline-block;
    background: #585252;
    border: 2px solid #45f3ff;
  }

  .label1
{
    color: #45f3ff;
}

.links1
{
    padding-left: 150px;
}

.link2{
    padding-right: 30px;
    padding-top: 35px;
}
